@require 'reset'
@require 'vars'
@require 'funcs'

body
  font 12px fonts
  
h1
  font-size 24px
  font-weight bold
  
.floatLeft
  float left

.floatRight
  float right
  
.clear
  clear both
  
.container
  width 100%

.sidebar
  width 18%
  margin 10px
  border 1px solid #000
  border-radius 4px
  float left
  
  ul.menu
    li.title
      font-size 18px
      font-weight bold
      text-align center
      border-bottom 1px solid #000
  
  ul.submenu
    li
      a
        padding-left 5px
        line-height 14px
        height 14px
        display inline-block
        width 100%
        color #000
        text-decoration none

.content
  float right
  width 70%
  padding 20px
