@require 'vars'
@require 'funcs'

.chartSelect
  margin-left 10px
  margin-top 6px
  
#tickers_container
  table
    border-top 1px solid #000
    border-left 1px solid #000
    td
      padding 5px
      border-right 1px solid #000
      border-bottom 1px solid #000